{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clone - 로그인 페이지</title>
    <link rel="stylesheet" href="{% static 'css.login.css' %}" />
    <script src="{% static 'js/login.js' %}"></script>
</head>
<body>
    <header id="everytime">
        <img src="{% static 'img/logo.png' %}" alt="로고"/>
    </header>

    <form methods='post' action={% url 'accounts:login' %} id="login">
        {% csrf_token %}
        <input class="login_id" type="text" placeholder="LIKELION14" name="username">
        
        <input class="login_pw" type="text" placeholder="password" name="password">

        <button id="loginBtn">
            <p>에브리타임 로그인</p>
        </button>

        <a href="{% url 'accounts:signup' %}" class="signup">회원가입</a>
    </form>

    <footer id="footer">
        <p>이용약관</p>
        <p>개인정보처리방침</p>
        <p>문의하기</p>
        <p>@에브리타임</p>
    </footer>
</body>
</html>